body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}


.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 15px 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #4e8d06; 
}

.logo span {
  font-size: 16px;
  color: #bbb;
  font-weight: normal;
}

.search input {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: #333;
  color: #4e8d06;
}

.search input::placeholder {
  color: #4e8d06;
}

/* ======== MENU ======== */
.menu {
  background-color: #111;
  padding: 10px 0;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.menu a:hover {
  color: #1e90ff;
}

/* ======== FILME EM DESTAQUE ======== */
.destaque {
  height: 400px;
  background: url("destaque.jpg") no-repeat center center/cover;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.conteudo-destaque {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #1e90ff;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
}

.btn:hover {
  background-color: #0d6efd;
}

/* ======== TOP 3 ======== */
.top3 {
  padding: 20px;
}

.grid-top3 {
  display: flex;
  gap: 20px;
}

.grid-top3 .card {
  position: relative;
  width: 200px;
}

.grid-top3 img {
  width: 100%;
  border-radius: 8px;
}

.posicao {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #1e90ff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  font-weight: bold;
}

/* ======== FILMES E SÉRIES RECENTES ======== */
.recentes {
  padding: 20px;
}

.grid-recentes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

.grid-recentes img {
  width: 100%;
  border-radius: 8px;
}

.btn-link {
  display: inline-block;
  margin-top: 10px;
  color: #1e90ff;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}


footer {
  background-color: #1a1a1a;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
