body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 0px;
}


.logo{
    color: #4e8d06;
    font-size: 35px;
    padding-left: 20px;
    float: right;
    padding-top: 10px;
    height: 70px;
    
}

.menu{
    width: 400px;
    float: right;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
}

ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 2px;
    font-size: 14px;
    
}

a{
    text-decoration: none;
    color: #4e8d06;
    font-weight: bold;
}

a:hover{
    color: white;
}

.procurar{
    width: 330px;
    float: left;
    margin-left: 270px;
    display: flex;
}
.psq{
    width: 200px;
    height: 15px;
    background: transparent;
    border: 1px solid #4e8d06 ;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
} 
.botão{
    width:100px;
    height:37px;
    background: rgb(92, 206, 92);
    border: 2px solid black;
    margin-top:13px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;  
}

.botão:focus{
    outline: none;
}

.psq:focus{
    outline: none;
}


.grid{
    
    align-items:center;
    display: flex;
    gap: 10px;
    margin: 0px;
    max-width: 400px;
}
button{
    align-items:right;
}


