body{
    background: rgb(43, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
}
html{
    margin: 0px;
}
h1{
    color: #4e8d06;
    font-size: 30px;
}
h3{
    color: blanchedalmond;
}
p{
    color: blanchedalmond;
}
.filme{
    position: relative;
    width: 300px;
    height: 418px;
    overflow: hidden;
    border-radius: 8px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #222;
}
.filme img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}
.header {
    background-color: #2a2a2a;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.barra-de-pesquisa{
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
}
.descrição{
    background-color: #2a2a2a;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    height: 400px;
}
.descrição:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.filme img:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.filme .info {
    background: #1f1f1f;
    padding: 10px;
    text-align: center;
}

.filme .descrição h3 {
    color: #fff;
    font-size: 16px;
    margin: 5px 0;
}

.filme .descrição p {
    color: #bbb;
    font-size: 14px;
    margin: 0;
}
a{
    text-decoration: none;
    color: #4e8d06;
}
